body.ej1 {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
}

h1.fnt-red {
    color: red;
}

p.fnt-blue,
h1.fnt-blue {
    color: blue;
}

span#nombre_alumno {
    color: red;
    text-decoration: underline;
}

h1.titulo {
    color: blue;
    font-size: 30px;
    font-style: italic;
}

p.texto {
    color: darkblue;
    font-size: 15px;
}

span.destacado,
p.destacado {
    font-style: italic;
    font-weight: bold;
}

div.CajaObjeto {
    background-color: white;
    margin: 5px;
    width: 200px;
    height: 300px;
    box-shadow: 5px, 10px, black;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}

img.FotoObjeto {
    margin: auto;
    padding: 0.5%;
    width: 99%;
    height: 50%;
    border-radius: 10px;
}

p.PrecioObjeto {
    font-weight: bold;
    font-size: 30px;
}

p.DescripcionObjeto {
    color: grey;
    font-size: 15px;
}

img.IconObjeto {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

body#BodyObjeto {
    background-color: blue;
}

p.p_Objeto{
    margin: auto;
    padding: 0;
}

body#body04b {
    padding: 0px;
}

div.NavSections
{
    position: fixed;
    text-align: center;
    width: 100%;
}
div#Pie {
    background-color: red;  
    height: 40px;
    top: 0;
    left: 0;
}

div#Medio {
    top: 40px;
}

div#Menu {
    background-color: blue;
    height: 40px;
    bottom: 0;
    left: 0;
}

div#CuadradoCentral {
    position: relative;
    margin: auto;
    top: 200px;
    width: 500px;
    height: 250px;
    background-color: red;
    text-align: center;
    align-items: center;
}

div.Circulo {
    background-color: beige;
    border: 5px solid red;
    border-radius: 100px;
    position: absolute;
    width: 100px;
    height: 100px;
}

div#Circulo01 {
    top: -50px;
    right: -50px;
}

div#Circulo02 {
    left: -50px;
    top: -50px;
}

div#Circulo03 {
    right: -50px;
    bottom: -50px;
}

div#Circulo04 {
    bottom: -50px;
    left: -50px;
}

p.TextoCentradoVertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;
    font-weight: bold;
}

div#CajaGrande {
    position: absolute;
    top: 50px;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: auto;
    border-radius: 100px;
    background-color: black;
}

div.CajaPeque{
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
}

div#CajaPeque01 {
    background-color: white;
    top: 0;
    left: 0;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
}

div#CajaPeque02 {
    top: 0;
    right: 0;
    background-color: cyan;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
}

p#ejercicio4b3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    font-size: 25px;
}

div#CajaIconos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 250px;
    width: 250px;
    margin: auto;
    padding: auto;
}

div.CajaIconoPeque{
    margin: 10px;
    height: 40%;
    width: 40%;
    display: inline-block;
}

div#CajaIconoPeque01 {
    top: 0;
    left: 0;
    background-color: red;
}

div#CajaIconoPeque02 {
    top: 0;
    right: 0;
    background-color: green;
}

div#CajaIconoPeque03 {
    bottom: 0;
    left: 0;
    background-color: blue;
}

div#CajaIconoPeque04 {
    bottom: 0;
    right: 0;
    background-color: yellow;
}

i.iconos {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 60px;
}

div.campo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 500px;
    width: 1000px;
    margin: auto;
    padding: auto;
}

div.fila {
    height: 30%;
    width: auto;
}

div.celda{
    height: 70%;
    width: 15%;
    display: inline-block;
    background-color: grey;
    margin: auto;
    padding: auto;
}

div.celda:hover {
    background-color: green;
}
div.mina:hover {
    background-color: red;
}

div.mina:hover .bomba {
    visibility: visible;
}

div.mina .bomba {
    visibility: hidden;
}

i.bomba {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding: auto;
    margin: 5%;
    margin-top: 2.5%;
    font-size: 50px;
}

p.ejercicio9::first-letter {
    font-size: 3em;
}

p.ejercicio9::first-line {
    color: red;
}

p.ejercicio9 {
    font-family: 'Oldenburg';
}

form.form {
    padding: 30px 30px 10px 30px;
    border: 1px solid black;
    width: 25%;
    margin: auto;
}

form.form>label {
    width: 100%;
    display: inline-block;
}

form.form>input[type=text],
form.form>select {
    margin-bottom: 10px;
    width: 100%;
}

form.form button {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (min-width: 800px) {
    div#Width799px {
        display: none;
    }

    div#Width800px {
        display: block;
    }
}

@media only screen and (max-width: 799px) {
    div#Width799px {
        display: block;
    }

    div#Width800px {
        display: none;
    }
}

div.caja
{
    width: 100%;
    height: 40px;
    margin:10px;
    font-size: 14px;
    font-weight: bold;
}
div.verde
{
    background-color: green;
}
div.rojo
{
    background-color: red;
}

h2.Section_Title
{
    font-size: 32px;
    margin: 20px;
    text-align: center;
}
div.Article_Image
{ 
    text-align: left;
}
h3.Article_Title
{
    color:red;
    text-align: left
}
h4.Article_Description
{
    color: blue;
    text-align: left
}

div.Article_Space
{
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid red;
}